#include "resources.h"

RESOURCE_DEFAULT_VERTEX RESOURCE_TYPE_HLSL "../bin/default_vertex.cso"
RESOURCE_DEFAULT_PIXEL RESOURCE_TYPE_HLSL "../bin/default_pixel.cso"
RESOURCE_SHADER_VERTEX RESOURCE_TYPE_HLSL "../bin/shader_vertex.cso"
RESOURCE_SHADER_PIXEL RESOURCE_TYPE_HLSL "../bin/shader_pixel.cso"

RESOURCE_WORLD0 RESOURCE_TYPE_WORLD "../res/world.gltf"